@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/typography";

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: black;
  background-color: $nuetral-color;
  overflow-x: hidden;
}

a {
  color: white;

  &:active,
  &:focus {
    color: white;
  }
}
