@import "../../styles/styles.scss";

.games {
  height: 250px;
  background-color: aqua;

  &__card {
    min-width: 110px;
    height: 250px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__image {
    width: 150px;
    height: 200px;
    margin-right: 8px;
    cursor: grab;
  }

  &__title {
    font-size: 0.875rem;
    margin: 0;
  }
}
