@import "../../styles/styles.scss";

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  &__utility {
    width: 100%;
    display: flex;
  }

  &__search {
    width: 100%;
    height: 40px;
    border-radius: 0;
    outline: none;
    background-color: white;
  }

  &__create-button {
    margin: 0;
    width: 100px;
    height: 46px;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;
    background-color: $secondary-color;
    color: $global-font;
    font-weight: 700;
    font-size: 2rem;
  }

  &__gamelist {
    display: flex;
    width: 100%;
    height: 260px;
    overflow-x: auto;
  }

  &__feed {
    background-color: cadetblue;
    width: 80%;
  }
}
