@import "../../styles/styles.scss";

.activitylist {
  background-color: $primary-color;
  display: flex;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 0 5%;
  font-family: "Quattrocento";
  height: 180px;
  width: 90%;

  @include desktop {
    width: 60%;
  }

  &__info-container {
    width: 80%;
  }

  &__user-date {
    @include tablet {
      display: flex;
    }
  }

  &-two {
    @extend .activitylist;
    background-color: $secondary-color;
  }

  &__host {
    background-color: $nuetral-color;
    border-radius: 20px;
    color: $primary-color;
    padding: 10px 30% 10px 10px;
    display: inline-block;
  }

  &__info-secondary {
    display: flex;
    font-style: italic;
    align-items: center;
    // font-weight: bold;

    @include tablet {
      padding-left: 20px;
    }
  }

  &__skill {
    margin: 0;
    font-weight: 700;
  }

  &__bullet {
    padding: 0 5px;
    margin: 0;
  }

  &__info {
    margin: 0;
  }

  &__game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 80px;
    height: 80px;

    @include tablet {
      width: 160px;
      height: 160px;
    }
  }

  &__game-title {
    margin: 10px 0 0;
    background-color: $nuetral-color;
    border-radius: 20px;
    color: $primary-color;
    padding: 5px;
    width: 100%;
    text-align: center;
  }

  &__description {
    margin: 5px 0 0 0;
    width: 90%;
    height: 70px;
    overflow: scroll;

    @include desktop {
      overflow: unset;
    }
  }
}
